.detail-wrapper{
  width: 300px;
  margin: 50px auto;
}
.nav{
  width: 100%;
  overflow : hidden;
  margin-bottom: 20px;
}
.nav a{
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 2px 8px;
}
.go-list{
  float: right;
  display : inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.todos-wrapper{
  border: 1px solid #ccc;
  border-radius: 4px;
}
.todo-wrapper{
  padding: 10px;
}
.todo-title{
  width: 50px;
  text-align: left;
  display: inline-block;
}
.todo-content{
  display: inline-block;
  color: pink;
}