<div class="detail-wrapper">
    <div class="nav">
        <a href="javascript:;">详情页</a>
        <a class="go-list" (click)="goTodoList()" href="javascript:;">返回列表页</a>
    </div>
    <div class="todos-wrapper">
        <div class="todo-wrapper">
            <span class="todo-title">id:</span>
            <span class="todo-content">{{options.id}}</span>
        </div>
        <div class="todo-wrapper">
            <span class="todo-title">内容:</span>
            <span class="todo-content">{{options.content}}</span>
        </div>
    </div>
</div>


